h1  {
  position: absolute;
  bottom: 450px;
  left: 350px;
  font-size: 300%;
}

.intro  {
  position: absolute;
  bottom: 400px;
  left: 30px;
  font-family: Verdana, sans-serif;

}

.education  {
  position: absolute;
  font-family: Verdana, sans-serif;
  bottom: 300px;
  width: 800px;
  left: 30px;
}

.practice  {
  position: absolute;
  font-family: Verdana, sans-serif;
  bottom: 200px;
  width: 800px;
  left: 30px;

}

img  {
  position: absolute;
  width: 600px;
  height: 900px;
  bottom:0px;
  left: 850px;
}

a  {
  bottom: 0;
  position: absolute;
}
