h1  {
  position: absolute;
  bottom: 450px;
  left: 350px;
  font-size: 300%;
}

.intro  {
  position: absolute;
  bottom: 400px;
  left: 30px;
  font-family: Verdana, sans-serif;

}

.education  {
  position: absolute;
  font-family: Verdana, sans-serif;
  bottom: 300px;
  width: 800px;
  left: 30px;
}

