h1  {
  position: absolute;
  bottom: 450px;
  left: 350px;
  font-size: 300%;

}

.name  {
  position: absolute;
  bottom: 400px;
  left: 390px;
  font-size: 150%;
  font-family: Verdana, sans-serif;
}

