h1  {
  text-align: center;
  padding-top: 400px;
  padding-right: 700px;
  font-size: 500%;
  font-family: Georgia, serif;
  top: 400px;
}

h2  {
  padding-top: 20px;
  padding-left: 235px;
  font-size: 120%;
  font-style: italic;
  font-family: Verdana, sans-serif;

}

.about  {
  position: absolute;
  top: 880px;
  left: 230px;
  font-family: Verdana, sans-serif;
}

